{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
 <h1>Product</h1>
 <h2>NAME: {{ product.name }}</h2>
 <p>PRICE: {{ product.price }}</p>
 <hr>
 <a href="/product">Go Back</a>
{% endblock %}
